input[type=number] {
    border: 2px solid rgb(37, 37, 182);
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type=submit] {
    border: 1px solid rgb(214, 31, 31);
    font-weight: bold;
    padding: 5px 10px;
    margin-top: 10px;
}

label {
    font-size: 20px;
}