html,
body {
    height: 100%;
    width: 100%;
    background-color: #b8f7ff;
}


/*TODO:zjistit
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');*/

.header {
    position: relative;
    top: -8px;
    height: 150px;
    width: 100%;
    background-image: radial-gradient(circle, rgb(91, 142, 238), rgb(90, 230, 248), rgb(86, 252, 238));
}

.header h1 {
    position: absolute;
    top: 0px;
    width: 100%;
    font-size: 55px;
    font-weight: bold;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 20px;
    text-align: center;
}

.footer {
    /* Dat na bottom */
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    border-style: dotted;
    border-width: 5px;
    bottom: 0;
}

.footer p {
    color: black;
    text-align: center;
    font-size: 15px;
}

.navbar {
    position: relative;
    background-image: radial-gradient(circle, rgb(91, 142, 238), rgb(90, 230, 248), rgb(86, 252, 238));
    height: 35px;
    width: 100%;
    top: -5px;
}

.vertNavbar li a {
    display: block;
    font-size: 25px;
    padding: 6px 30px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(10, 53, 243), rgb(97, 223, 240));
    border: solid black 1px;
    margin: 1px;
}

.vertNavbar li a:hover {
    opacity: 0.7;
}

.vertNavbar ul {
    position: absolute;
    display: block;
    list-style-type: none;
    width: 218px;
    margin-left: -48px;
    margin-top: -5px;
}

.btns button {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(19, 19, 175, 0.6979166666666667) 0%, rgba(0, 212, 255, 1) 100%);
    position: relative;
    float: right;
    top: 1px;
    margin: 0px 5px;
    padding: 4px 11px;
    font-weight: bold;
    color: white;
    font-family: 'Texturina', serif;
    /* font-size: 15px;*/
}

.btns button:hover {
    background-color: rgb(6, 6, 245);
}


/*TODO: blbne zobrazeni*/

.grid {
    position: absolute;
    position: block;
    /*border: solid black 1px;*/
    width: 1000px;
    height: 550px;
    margin-left: 230px;
}

.grid .nadpis {
    font-size: 35px;
    text-align: left;
    font-weight: bold;
    margin-top: -4px;
}

.grid .text1 {
    text-align: justify;
}